<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import Html</title>
    <style>
        .container, text-center{
        margin-top:10%;
        border-style: solid;
        background-color:#f5f0e1;
        color:#ff6e40;
        padding: 25px;
        }
        body{
        background-color:#1e3d59;
        color:#ffc13b;
        }
        a{
         margin: 20px;
        }
    </style>
</head>
<body>
<div class="container text-center">
    <H1 style="text-align:center">Click over to the needed link to import json</H1>
    <h3 style="text-align:center"><a href="/questions" style="text-align:center">Import Question First</a>
    <a href="/applicant" style="text-align:center">Import Applicants Second</a></h3>

</div>
</body>
</html>