<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container, text-center{
        margin-top:10%;
        border-style: solid;
        background-color:#f5f0e1;
        color:#ff6e40;
        padding: 25px;
        }
        body{
        background-color:#1e3d59;
        color:#ffc13b;
        }
        a{
         margin: 20px;
        }
    </style>
</head>
<body>
<h2>Enter Questions List</h2>
<p>This must contain and Id, Question and Answer and correct json format</p>
<form method="POST">
    <textarea name="questions" rows="10" cols="100"></textarea><input type="submit">
</form></body>
</html>